<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections> 
  <connectionStrings>
    
  </connectionStrings>
  
  <!-- 1. In order to configure remote endpoints use the format: "queue@machine" 
       2. Input queue must be on the same machine as the process feeding off of it.
       3. Error queue can (and often should) be on a different machine.
       4. The community edition doesn't support more than one worker thread.
  -->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="d:\sqlmonitor\email" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <MsmqTransportConfig
    InputQueue="SqlMonitor.ServerQueue"
    ErrorQueue="error"
    NumberOfWorkerThreads="1"
    MaxRetries="5"
  />
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="SqlMonitor.Messages" Endpoint="SqlMonitor.ServerQueue"/>
    </MessageEndpointMappings>
  </UnicastBusConfig>

  <log4net debug="false">
  <appender name="FileAppender" type="log4net.Appender.FileAppender">
    <file value="d:\sqlmonitor\logs\SqlMonitor.log" />
    <appendToFile value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
    <root>
       <level value="INFO"/>
       <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
</configuration>
